@charset "UTF-8";
* {
  box-sizing: border-box; }

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  margin: 0;
  background-color: #fbfbfb; }

a {
  color: #0366d6;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

b, strong {
  font-weight: 600; }

hr, .rule {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5; }

hr::before, .rule::before {
  display: table;
  content: ""; }

hr::after, .rule::after {
  display: table;
  clear: both;
  content: ""; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

h1 {
  font-size: 32px;
  font-weight: 600; }

h2 {
  font-size: 24px;
  font-weight: 600; }

h3 {
  font-size: 20px;
  font-weight: 600; }

h4 {
  font-size: 16px;
  font-weight: 600; }

h5 {
  font-size: 14px;
  font-weight: 600; }

h6 {
  font-size: 12px;
  font-weight: 600; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

small {
  font-size: 90%; }

blockquote {
  margin: 0; }

ul, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

ol ol, ul ol {
  list-style-type: lower-roman; }

ul ul ol, ul ol ol, ol ul ol, ol ol ol {
  list-style-type: lower-alpha; }

dd {
  margin-left: 0; }

tt, code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px; }

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(900px - (30px));
      max-width: calc(900px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word; }

.markdown-body::before {
  display: table;
  content: ""; }

.markdown-body::after {
  display: table;
  clear: both;
  content: ""; }

.markdown-body > *:first-child {
  margin-top: 0 !important; }

.markdown-body > *:last-child {
  margin-bottom: 0 !important; }

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none; }

.markdown-body .absent {
  color: #cb2431; }

.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1; }

.markdown-body .anchor:focus {
  outline: none; }

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px; }

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0; }

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5; }

.markdown-body blockquote > :first-child {
  margin-top: 0; }

.markdown-body blockquote > :last-child {
  margin-bottom: 0; }

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5; }

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25; }

.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden; }

.markdown-body h1:hover .anchor, .markdown-body h2:hover .anchor, .markdown-body h3:hover .anchor, .markdown-body h4:hover .anchor, .markdown-body h5:hover .anchor, .markdown-body h6:hover .anchor {
  text-decoration: none; }

.markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link {
  visibility: visible; }

.markdown-body h1 tt, .markdown-body h1 code, .markdown-body h2 tt, .markdown-body h2 code, .markdown-body h3 tt, .markdown-body h3 code, .markdown-body h4 tt, .markdown-body h4 code, .markdown-body h5 tt, .markdown-body h5 code, .markdown-body h6 tt, .markdown-body h6 code {
  font-size: inherit; }

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef; }

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef; }

.markdown-body h3 {
  font-size: 1.25em; }

.markdown-body h4 {
  font-size: 1em; }

.markdown-body h5 {
  font-size: 0.875em; }

.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d; }

.markdown-body ul, .markdown-body ol {
  padding-left: 2em; }

.markdown-body ul.no-list, .markdown-body ol.no-list {
  padding: 0;
  list-style-type: none; }

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0; }

.markdown-body li > p {
  margin-top: 16px; }

.markdown-body li + li {
  margin-top: 0.25em; }

.markdown-body dl {
  padding: 0; }

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600; }

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px; }

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto; }

.markdown-body table th {
  font-weight: 600; }

.markdown-body table th, .markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5; }

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1; }

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa; }

.markdown-body table img {
  background-color: transparent; }

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff; }

.markdown-body img[align=right] {
  padding-left: 20px; }

.markdown-body img[align=left] {
  padding-right: 20px; }

.markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent; }

.markdown-body span.frame {
  display: block;
  overflow: hidden; }

.markdown-body span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #dfe2e5; }

.markdown-body span.frame span img {
  display: block;
  float: left; }

.markdown-body span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292e; }

.markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }

.markdown-body span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center; }

.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center; }

.markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }

.markdown-body span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right; }

.markdown-body span.align-right span img {
  margin: 0;
  text-align: right; }

.markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden; }

.markdown-body span.float-left span {
  margin: 13px 0 0; }

.markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden; }

.markdown-body span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right; }

.markdown-body code, .markdown-body tt {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px; }

.markdown-body code::before, .markdown-body code::after, .markdown-body tt::before, .markdown-body tt::after {
  letter-spacing: -0.2em;
  content: " "; }

.markdown-body code br, .markdown-body tt br {
  display: none; }

.markdown-body del code {
  text-decoration: inherit; }

.markdown-body pre {
  word-wrap: normal; }

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0; }

.markdown-body .highlight {
  margin-bottom: 16px; }

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal; }

.markdown-body .highlight pre, .markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px; }

.markdown-body pre code, .markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }

.markdown-body pre code::before, .markdown-body pre code::after, .markdown-body pre tt::before, .markdown-body pre tt::after {
  content: normal; }

.markdown-body .csv-data td, .markdown-body .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap; }

.markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0; }

.markdown-body .csv-data tr {
  border-top: 0; }

.markdown-body .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0; }

/**
 * Site header
 */
.site-header-box {
  position: fixed;
  width: 100%;
  background-color: #fbfbfb; }
  @media screen and (max-width: 800px) {
    .site-header-box {
      position: static;
      margin-bottom: 50px; } }

.site-header {
  min-height: 56px;
  position: relative;
  background-color: #48a63e; }

.site-header .wrapper {
  position: relative; }

.site-header .canvasbox {
  position: absolute;
  top: 5px;
  right: 0;
  box-shadow: inset 0 1px 0 #444,0 -1px 0 #000;
  height: 140px; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #fff;
  animation: myname 5s infinite;
  animation-direction: alternate;
  -webkit-animation: myname 5s infinite;
  -webkit-animation-direction: alternate;
  -moz-animation: myname 5s infinite;
  -moz-animation-direction: alternate;
  -ms-animation: myname 5s infinite;
  -ms-animation-direction: alternate;
  -o-animation: myname 5s infinite;
  -o-animation-direction: alternate; }

.site-ikcamp {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: right;
  color: #fff;
  text-shadow: 1px 1px #efefef, 4px 4px #272e26; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fbfbfb;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  background: #262a30;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 180px 0 30px; }
  @media screen and (max-width: 800px) {
    .page-content {
      padding-top: 30px; } }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 16px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 50px; }

.post-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 20px; } }

.post-content {
  margin-bottom: 30px; }

@keyframes myname {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(180deg); } }
@-webkit-keyframes myname {
  from {
    -webkit-transform: rotateY(0); }
  to {
    -webkit-transform: rotateY(180deg); } }
@-moz-keyframes myname {
  from {
    -moz-transform: rotateY(0); }
  to {
    -moz-transform: rotateY(180deg); } }
@-ms-keyframes myname {
  from {
    -ms-transform: rotateY(0); }
  to {
    -ms-transform: rotateY(180deg); } }
@-o-keyframes myname {
  from {
    -o-transform: rotateY(0); }
  to {
    -o-transform: rotateY(180deg); } }
